{% for entity in pagination %}
    {% set post_url = path('post_show', { 'slug': entity.slug }) %}
    <article class="post">
        <div class="post-thumb">
            <a href="{{ post_url }}">
                {% if entity.getImage %}
                    <img src="{{ asset(entity.getImage.getWebPath | imagine_filter('my_thumb')) }}"
                         alt="{{ entity.getImage.name }}">
                {% endif %}
            </a>

            <a href="{{ post_url }}" class="post-thumb-overlay text-center">
                <div class="text-uppercase text-center">View Post</div>
            </a>
        </div>
        <div class="post-content">
            <header class="entry-header text-center text-uppercase">
                <h6>
                    <a href="#"> Travel</a>
                </h6>
                <h1 class="entry-title">
                    <a href="{{ post_url }}">
                        {{ entity.title }}
                    </a>
                </h1>
            </header>
            <div class="entry-content">
                <p>
                    {{ entity.abstract }}
                </p>

                <div class="btn-continue-reading text-center text-uppercase">
                    <a href="{{ post_url }}" class="more-link">Continue Reading</a>
                </div>
            </div>
            <div class="social-share">
                <span class="social-share-title pull-left text-capitalize">By <a href="#">Rubel</a> On February 12, 2016</span>
                <ul class="text-center pull-right">
                    <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </article>
{% endfor %}

<ul class="pagination">
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
</ul>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

